.login-form__submit {
    margin: 185px 0 15px 0;
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
  }