.element__photo {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
    background-color: #000000;
    color: #ffffff;
    display: block;
    object-fit: cover;
}
