.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/EditButton.svg);
    background-size: 10px 10px;
    background-position: center;
    align-self: center;
    margin: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (max-width: 725px) {
    .profile__edit-button {
        background-size: 7.5px 7.5px;
        grid-column: 3;
        grid-row: 1;
        width: 18px;
        height: 18px;
    }
}
