.element__like {
    width: 22px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 0px;
    background-image: url(../../../images/Like.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

    .element__like:hover {
        opacity: 0.5;
    }
